<h1>Editing speech part</h1>

<%= render "form", speech_part: @speech_part %>

<br>

<div>
  <%= link_to "Show this speech part", @speech_part %> |
  <%= link_to "Back to speech parts", speech_parts_path %>
</div>
